# {{ ansible_managed }}

[Unit]
Description="Update node exporter {{ item.name }} metrics"
After=network-online.target
Wants=network-online.target node_exporter_{{ item.name }}.timer

[Service]
Type=oneshot
User={{ item.user | default(exporter_user) }}
Group={{ item.user | default(exporter_group) }}
ExecStart={{ node_exporter_systemd_scripts_dir }}/{{ item.name }}.sh
